.chat-message-container-me {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    margin-top: 10px;
}

.chat-message-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
}

.message-title-me {
    font-weight: 500;
    color: white;
    margin-top: -5px;
    margin-left: 0px;
}

.message-title {
    font-weight: 500;
    color: black;
    margin-top: -5px;
    margin-left: 0px;
}

.chat-date {
    font-size: 12px;
    color: rgb(72, 72, 72);
}